* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-bg: #d2efe8; 
    --color-primary: #5fc6ad; 
    --color-secondary: #d9ff66;
    --color-tertiary: #344bc9;
    --color-black: #000000;
    --color-white: #eee2e2;
    --color-gray: #9d9d9d;
}

body {
    color: var(--color-black);
    background-color: var(--color-bg);
    font-family: Inter, sans-serif;
}

.bigContainer {
    width: 90%;
    max-width: 900px;
    height: 100vh; /* ! da eliminare */
    margin: 30px auto;
    background-color: rgba(210, 95, 95, 0.352);
}

/* Header */
#todoHeader {
    background-color: var(--color-primary);
}

#title {
    color: var(--color-white);
}

#logoContainer {

}



/* Container */
#todoMainPage {

}

#todoContainer {
    
}

.todoItem {
    background-color: var(--color-white);
}

.todoTick {
    color: var(--color-tertiary);
    background-color: var(--color-secondary);
}

.todoText {

}



/* Add */
#todoAdd {
    background-color: var(--color-primary);
}

#todoInput {
    color: var(--color-gray);
}

#todoAddBtn {
    color: var(--color-tertiary);
    background-color: var(--color-secondary);
}