* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-bg: #d2efe8; 
    --color-primary: #5fc6ad; 
    --color-secondary: #d9ff66;
    --color-tertiary: #344bc9;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-gray: #9d9d9d;
}

body {
    color: var(--color-black);
    background-color: var(--color-bg);
    font-family: Inter, sans-serif;
}

#bigContainer {
    width: 90%;
    max-width: 900px;
    height: 100vh; /* ! da eliminare */
    flex-direction: column;
    gap: 15px;
    margin: 30px auto;
}

.card {
    border-radius: 15px;
}

/* Header */
#todoHeader {
    background-color: var(--color-primary);
}

#title {
    height: 100%;
    color: var(--color-white);
    padding: 10px;
    margin: 0;
}

#logoContainer {

}



/* Container */
#todoMainPage {

}

#todoContainer {
    flex-direction: column;
    gap: 10px;
}

.todoItem {
    height: 60px;
    background-color: var(--color-white);
    flex-direction: row;
    overflow: hidden;
}

.todoTick {
    width: 60px;
    height: 60px;
    color: var(--color-tertiary);
    background-color: var(--color-secondary);
    background-image: url(./../img/check.svg);
    background-size: cover;
}

.todoText {
    padding: 16px;
}



/* Add */
#todoAdd {
    background-color: var(--color-primary);
    flex-direction: row;
    gap: 10px;
    padding: 15px;
    margin-top: 15px;
}

#todoInput {
    font-size: 16px;
    color: var(--color-gray);
    flex-grow: 1;
    border: 0;
    border-radius: 10px;
    padding-left: 10px;
}

#todoAddBtn {
    width: 60px;
    height: 60px;
    color: var(--color-tertiary);
    background-color: var(--color-secondary);
    background-image: url(./../img/add.svg);
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}